*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f1f3f4;
	font-family: sans-serif;
}

.top-nav-bar{
	height: 85px;
	top: 0;
	position: sticky;
	background:#fff;
	z-index: 2;
}
.logo {
	height:40px;
	margin:9px 10px;
	font-size: 27px;
	padding-left: 10px;
    padding-right: 0px;
}

.search-box .form-control{
	margin-top: 16px;
	margin-left: 30px;
	border:1px solid #228b22;;
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
     box-shadow:none !important; 

}
.input-group-text{
	width:65px;
	background:  #228b22 !important;
	border:1px solid #228b22 !important;
	margin: 16px 11px 10px 0 !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    padding: 4px 5px 0px 2px;
    color:#ff8c00;
}
.search-box{
	display: inline-flex;
	width:58%;
	padding:5px; 
	
}

.menu-bar{
	width:40%;
	height:10vh;
	float:right;
	
}
.menu-bar ul{
	display: inline-flex;
	float: right;
}
.menu-bar ul li{
	/*border-left: 1px solid #fff;*/
	list-style-type: none;
	padding: 10px 15px 6px 15px;
	text-align: center;
	/*background-color: #ff8c00;*/
	cursor:pointer;
	margin-right: 50px;
	margin-top: 4px;
    



}
.menu-bar ul li a{
	font-size: 16px;
	color:#ff8c00;
	text-decoration: none;
}
.menu-bar .glyphicon-shopping-cart , .glyphicon-share,  .glyphicon-calendar{
	font-size: 25px;
	color:#228b22;
}
 .menu-bar ul :hover{
	
   border-radius: 5px;
   color: #000;
}
.menu-bar ul ul{
	display: none;
}
 
 .menu-bar2{
	width:100%;
	height:8vh;
	background-color:#228b22;
	margin-top: 18px;
	
}
.menu-bar2 ul{
	display: inline-flex;
	padding-left: 12%;
}
.menu-bar2 ul li{
	/*border-left: 1px solid #fff;*/
	list-style-type: none;
	color:#000;
	text-align: center;
	/*background-color: #ff8c00;*/
	cursor:pointer;
	margin-right: 50px;
	




}
.menu-bar2 ul li a{
	font-size: 15px;
	color:#ff8c00;
	text-decoration: none;
	font-weight: bold;
	
}
.menu-bar2 .glyphicon-shopping-cart , .glyphicon-share,  .glyphicon-calendar{
	font-size: 19px;
	color:#228b22;
} 
.menu-bar2 ul ul{
	display: none;
}


@media only screen and (max-width:980px)
{
	.top-nav-bar{
    width: 100%;
		height:118px;
		border-bottom:0;
	}
	.search-box{
		width:100%;
	}
	.menu-bar{
		width:100%;
	}
	.menu-bar ul{
		margin: 10px 0;
		width: 100%;
	}
	.menu-bar ul li{
		height: 45px;
		width: 100%;
	}
  .side-menu{
    width: 50%;
  }
}

 

  
.btn-on:hover{
  background:red;
  color: #000;

}

/* --------------slider css---------------------------------------*/
   .slider{
	width:100%;
	height: 95vh;
	
 }
  
.carousel{

	box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.5);
}

.carousel-indicators{
	z-index: 1 !important;

}


 /*---------------footer----------------------*/

  

 

#navbar{
  background-color: #fff;
  position: fixed;
  top: -66px;
  width: 100%;
height: 10vh;
  transition: top 0.3s;
  z-index: 3;

}
  .logo1 img{
   padding-left: 15px;
   margin-top: -1%;
}
#navbar ul{
  display: inline-flex;
  padding-left: 3%;
}
#navbar ul li {
  list-style-type: none;
  
  text-align: center;
 
  cursor:pointer;
  margin-right: 1px;
  margin-top: 2.5%;
  }
#navbar ul li a {
  
  
  color: #228b22;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;
}



#navbar a:hover {
  background-color: #fff;
  color: #ff8c00;
}

 .dropbtn {
  background-color: #fff;
  color: #228b22;
  
  font-size: 15px;
  border: none;
  margin-bottom: 5px;
  margin-top: 0px;

}
.dropbtn span{
  color: #ff8c00;
}
.dropdown {
  position: relative;
  display: inline-block;

}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; margin-top: 15px;}

.dropdown:hover .dropbtn { color:#ff8c00;}

#content{
background-color: #228b22; 
 border-radius: 5px;
 
}

#content .form-control{
	border: 2px solid #ff8c00;
}
#contain{
  position: relative;
  width: 20%;
  margin-left: 2%;
  
}



.overlay {
  position: absolute;
  bottom: -20%;
  left: 20px;
  right: 0px;
  background-color: #008CBA;
  overflow: hidden;
  width: 88%;
  height: 0;
  transition: .5s ease;
}

#contain:hover .overlay {
  bottom: 0;
  height: 5vh;

}
#contain:hover .image {
  opacity: 0.3;

}

#contain:hover .overlay {
  opacity: 1;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 18px;
  position: absolute;
  overflow: hidden;
  font-weight: normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.image {
  opacity: 1;
  display: block;
  width: 105%;
  transition: .5s ease;
  backface-visibility: hidden;
}
 .footer h1{
    font-size: 21px;
    color: #228b22;
  }
  .footer p{
    font-size: 14px;
    color: #ff8c00;
  }
  .footer.row{
   padding-right: 20px;
  }
  .footer .copyright{
  	color: #228b22;
  }
  <!------------------------Test box----------------------------------->
  
<!------------------------------breadcom---------------------------------->

